#Packages to be installed using import or !pip install [module] to be able run code/files
#To install them, type this into your console:
#pip - r requirements.txt.

tweepy
pandas
numpy
matplolib
nltk
pycountry
stopwords

wordcloud # if the cannot installed by pip, get the binary whl file from https://www.lfd.uci.edu/~gohlke/pythonlibs/#wordcloud and use pip install <whl file> to 

