#Packages to be installed using import or !pip install [module] to be able run code/files
#To install them, type this into your console:
#pip - r requirements.txt.

#tweepy, pandas, numpy, matplolib, nltk, pycountry, wordcloud, stopwords

rich
dill >=0.3 #must be at least version 0.3 


